    .breadcrumb a {
      text-decoration: none;
      color: #1976d2;
      font-weight: bold;
      
    }
    .parent {
      color: #1976d2;
      margin-left: 30px;
      font-weight: bold;
    }